# Use Socrata API to pull some other open Chicago data, starting with L stop locations


# This has been implemented in the library, but i'll leave the notebook in case I want to add functionality

In [15]:
import os
import sys

import numpy as np
import pandas as pd

import folium
import matplotlib.pyplot as plt

%matplotlib inline

# Load from lib
%load_ext autoreload 
%autoreload 2

# Add library to path 
module_path = os.path.abspath(os.path.join('..'))
if module_path not in sys.path:
    sys.path.append(module_path)
    
from lib.download_data import load_trip_data, load_station_data, query_cta_stations
from lib.visualization import map_stations

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [16]:
df_cta = query_cta_stations()

WARNING:root:Requests made without an app_token will be subject to strict throttling limits.

In [17]:
df_cta.head()

,ada,blue,brn,direction_id,g,location,map_id,o,p,pexp,pnk,red,station_descriptive_name,station_name,stop_id,stop_name,y,latitude,longitude
0,True,False,False,W,False,"{'type': 'Point', 'coordinates': [-87.669147, ...",40830,False,False,False,True,False,18th (Pink Line),18th,30162,18th (54th/Cermak-bound),False,41.857908,-87.669147
1,True,False,False,E,False,"{'type': 'Point', 'coordinates': [-87.669147, ...",40830,False,False,False,True,False,18th (Pink Line),18th,30161,18th (Loop-bound),False,41.857908,-87.669147
2,True,False,False,N,False,"{'type': 'Point', 'coordinates': [-87.680622, ...",40120,True,False,False,False,False,35th/Archer (Orange Line),35th/Archer,30022,35th/Archer (Loop-bound),False,41.829353,-87.680622
3,True,False,False,S,False,"{'type': 'Point', 'coordinates': [-87.680622, ...",40120,True,False,False,False,False,35th/Archer (Orange Line),35th/Archer,30023,35th/Archer (Midway-bound),False,41.829353,-87.680622
4,True,False,False,S,True,"{'type': 'Point', 'coordinates': [-87.625826, ...",41120,False,False,False,False,False,35th-Bronzeville-IIT (Green Line),35th-Bronzeville-IIT,30214,35-Bronzeville-IIT (63rd-bound),False,41.831677,-87.625826

In [41]:
df_stations = load_station_data()

WARNING:root:Requests made without an app_token will be subject to strict throttling limits.

In [42]:
df_stations.head()

,id,name,city,latitude,longitude,dpcapacity,online_date,Unnamed: 7,online_datetime,online_month,online_year,distance_to_closest_L_station
0,2,Buckingham Fountain,Chicago,41.876393,-87.620328,27,2013-06-10,NaN,2013-06-10 10:43:00,2013-06,2013,0.006503
1,3,Shedd Aquarium,Chicago,41.867226,-87.615355,55,2013-06-10,NaN,2013-06-10 10:44:00,2013-06,2013,0.011236
2,4,Burnham Harbor,Chicago,41.856268,-87.613348,23,2013-06-10,NaN,2013-06-10 10:46:00,2013-06,2013,0.013429
3,5,State St & Harrison St,Chicago,41.874053,-87.627716,23,2013-06-10,NaN,2013-06-10 10:46:00,2013-06,2013,0.000237
4,6,Dusable Harbor,Chicago,41.885041,-87.612794,39,2013-06-10,NaN,2013-06-10 11:18:00,2013-06,2013,0.013518

In [31]:
# Distance function
def eucl_d(lat1, lat2, long1, long2):
    return np.sqrt((lat2-lat1)**2 + (long2-long1)**2)
eucl_d(1,2,3,4)

1.4142135623730951

In [38]:
df_stations['distance_to_closest_L_station'] = df_stations.apply(lambda x: min(eucl_d(x.latitude, df_cta.latitude, x.longitude, df_cta.longitude)), axis=1)

In [39]:
df_stations.head()

,id,name,city,latitude,longitude,dpcapacity,online_date,Unnamed: 7,online_datetime,online_month,online_year,distance_to_closest_L_station
0,2,Buckingham Fountain,Chicago,41.876393,-87.620328,27,2013-06-10,NaN,2013-06-10 10:43:00,2013-06,2013,0.006503
1,3,Shedd Aquarium,Chicago,41.867226,-87.615355,55,2013-06-10,NaN,2013-06-10 10:44:00,2013-06,2013,0.011236
2,4,Burnham Harbor,Chicago,41.856268,-87.613348,23,2013-06-10,NaN,2013-06-10 10:46:00,2013-06,2013,0.013429
3,5,State St & Harrison St,Chicago,41.874053,-87.627716,23,2013-06-10,NaN,2013-06-10 10:46:00,2013-06,2013,0.000237
4,6,Dusable Harbor,Chicago,41.885041,-87.612794,39,2013-06-10,NaN,2013-06-10 11:18:00,2013-06,2013,0.013518

In [40]:
df_stations.sort_values('distance_to_closest_L_station')

,id,name,city,latitude,longitude,dpcapacity,online_date,Unnamed: 7,online_datetime,online_month,online_year,distance_to_closest_L_station
59,66,Clinton St & Lake St,Chicago,41.885637,-87.641823,23,2013-06-25,NaN,2013-06-25 12:21:00,2013-06,2013,0.000058
40,44,State St & Randolph St,Chicago,41.884730,-87.627734,27,2013-06-25,NaN,2013-06-25 10:59:00,2013-06,2013,0.000112
570,611,Oak Park Ave & South Blvd,Oak Park,41.886923,-87.793899,19,2016-06-23,NaN,2016-06-23 12:25:00,2016-06,2016,0.000133
415,451,Sheridan Rd & Loyola Ave,Chicago,42.001044,-87.661198,15,2015-02-10,NaN,2015-02-10 14:03:00,2015-02,2015,0.000140
63,71,Morgan St & Lake St,Chicago,41.885483,-87.652305,23,2013-06-25,NaN,2013-06-25 12:55:00,2013-06,2013,0.000152
182,201,Indiana Ave & 40th St,Chicago,41.821680,-87.621600,15,2013-08-10,NaN,2013-08-10 15:47:00,2013-08,2013,0.000235
3,5,State St & Harrison St,Chicago,41.874053,-87.627716,23,2013-06-10,NaN,2013-06-10 10:46:00,2013-06,2013,0.000237
347,378,California Ave & Lake St,Chicago,41.884454,-87.696298,15,2015-01-30,NaN,2015-01-30 14:00:00,2015-01,2015,0.000243
56,60,Dayton St & North Ave,Chicago,41.910578,-87.649422,19,2013-06-25,NaN,2013-06-25 12:08:00,2013-06,2013,0.000257
34,38,Clark St & Lake St,Chicago,41.886021,-87.630876,27,2013-06-25,NaN,2013-06-25 01:43:00,2013-06,2013,0.000284
210,230,Lincoln Ave & Roscoe St,Chicago,41.943340,-87.670970,19,2013-08-19,NaN,2013-08-19 17:20:00,2013-08,2013,0.000290
27,31,Franklin St & Chicago Ave,Chicago,41.896776,-87.635633,23,2013-06-22,NaN,2013-06-22 20:58:00,2013-06,2013,0.000293
339,368,Ashland Ave & Archer Ave,Chicago,41.839209,-87.665610,15,2015-01-30,NaN,2015-01-30 12:51:00,2015-01,2015,0.000294
569,610,Marion St & South Blvd,Oak Park,41.886810,-87.802870,19,2016-06-23,NaN,2016-06-23 12:24:00,2016-06,2016,0.000308
346,377,Kedzie Ave & Lake St,Chicago,41.884603,-87.706304,19,2015-01-30,NaN,2015-01-30 13:59:00,2015-01,2015,0.000319
490,531,Central Ave & Lake St,Chicago,41.887664,-87.765469,15,2016-05-27,NaN,2016-05-27 08:38:00,2016-05,2016,0.000329
35,39,Wabash Ave & Adams St,Chicago,41.879472,-87.625689,23,2013-06-25,NaN,2013-06-25 01:44:00,2013-06,2013,0.000350
240,261,Hermitage Ave & Polk St,Chicago,41.871514,-87.669886,15,2013-09-03,NaN,2013-09-03 13:15:00,2013-09,2013,0.000358
105,119,Ashland Ave & Lake St,Chicago,41.885410,-87.667320,19,2013-07-18,NaN,2013-07-18 17:21:00,2013-07,2013,0.000378
391,427,Cottage Grove Ave & 63rd St,Chicago,41.780599,-87.606112,19,2015-01-30,NaN,2015-01-30 17:45:00,2015-01,2015,0.000386
218,239,Western Ave & Leland Ave,Chicago,41.966555,-87.688487,19,2013-08-21,NaN,2013-08-21 10:50:00,2013-08,2013,0.000392
61,68,Clinton St & Tilden St,Chicago,41.875885,-87.640795,23,2013-06-25,NaN,2013-06-25 12:52:00,2013-06,2013,0.000394
394,430,MLK Jr Dr & 63rd St,Chicago,41.780081,-87.615943,15,2015-01-30,NaN,2015-01-30 17:46:00,2015-01,2015,0.000400
209,229,Southport Ave & Roscoe St,Chicago,41.943739,-87.664020,19,2013-08-19,NaN,2013-08-19 16:10:00,2013-08,2013,0.000401
186,205,Paulina St & 18th St,Chicago,41.857901,-87.668745,15,2013-08-13,NaN,2013-08-13 16:01:00,2013-08,2013,0.000402
62,69,Damen Ave & Pierce Ave,Chicago,41.909396,-87.677692,19,2013-06-25,NaN,2013-06-25 12:53:00,2013-06,2013,0.000431
374,410,Prairie Ave & 43rd St,Chicago,41.816659,-87.619412,15,2015-01-30,NaN,2015-01-30 17:39:00,2015-01,2015,0.000438
29,33,State St & Van Buren St,Chicago,41.877181,-87.627844,27,2013-06-22,NaN,2013-06-22 21:06:00,2013-06,2013,0.000475
99,113,Bissell St & Armitage Ave,Chicago,41.918440,-87.652220,15,2013-07-18,NaN,2013-07-18 17:09:00,2013-07,2013,0.000479
379,415,Calumet Ave & 51st St,Chicago,41.802295,-87.618054,15,2015-01-30,NaN,2015-01-30 17:41:00,2015-01,2015,0.000479
...,...,...,...,...,...,...,...,...,...,...,...,...
388,424,Museum of Science and Industry,Chicago,41.791728,-87.583945,27,2015-01-30,NaN,2015-01-30 17:44:00,2015-01,2015,0.024709
512,553,Elizabeth St & 47th St,Chicago,41.808390,-87.656526,11,2016-05-27,NaN,2016-05-27 10:03:00,2016-05,2016,0.025659
380,416,Dorchester Ave & 49th St,Chicago,41.805772,-87.592464,15,2015-01-30,NaN,2015-01-30 17:42:00,2015-01,2015,0.026282
543,584,Ellis Ave & 83rd St,Chicago,41.744123,-87.599034,15,2016-05-27,NaN,2016-05-27 11:35:00,2016-05,2016,0.026827
245,267,Lake Park Ave & 47th St,Chicago,41.809443,-87.591875,15,2013-09-04,NaN,2013-09-04 15:57:00,2013-09,2013,0.026952
107,121,Blackstone Ave & Hyde Park Blvd,Chicago,41.802562,-87.590368,19,2013-07-18,NaN,2013-07-18 17:22:00,2013-07,2013,0.027113
383,419,Lake Park Ave & 53rd St,Chicago,41.799494,-87.586450,15,2015-01-30,NaN,2015-01-30 17:42:00,2015-01,2015,0.027289
416,452,Western Ave & Granville Ave,Chicago,41.994161,-87.689438,15,2015-02-10,NaN,2015-02-10 14:03:00,2015-02,2015,0.027482
535,576,Greenwood Ave & 79th St,Chicago,41.751294,-87.597552,15,2016-05-27,NaN,2016-05-27 11:29:00,2016-05,2016,0.027574
247,270,Stony Island Ave & 75th St,Chicago,41.758670,-87.586883,11,2013-09-05,NaN,2013-09-05 14:16:00,2013-09,2013,0.028780
381,417,Cornell Ave & Hyde Park Blvd,Chicago,41.802406,-87.586924,19,2015-01-30,NaN,2015-01-30 17:42:00,2015-01,2015,0.029099
226,247,Shore Dr & 55th St,Chicago,41.795212,-87.580715,19,2013-08-22,NaN,2013-08-22 12:50:00,2013-08,2013,0.029227
329,352,Jeffery Blvd & 67th St,Chicago,41.773518,-87.577143,15,2013-10-28,NaN,2013-10-28 13:24:00,2013-10,2013,0.029506
89,101,63rd St Beach,Chicago,41.781016,-87.576120,23,2013-07-16,NaN,2013-07-16 01:27:00,2013-07,2013,0.029746
7,11,Jeffery Blvd & 71st St,Chicago,41.766638,-87.576450,11,2013-06-21,NaN,2013-06-21 09:39:00,2013-06,2013,0.032429
536,577,Stony Island Ave & South Chicago Ave,Chicago,41.751173,-87.585337,11,2016-05-27,NaN,2016-05-27 11:31:00,2016-05,2016,0.035637
360,395,Jeffery Blvd & 76th St,Chicago,41.757120,-87.575839,11,2015-01-30,NaN,2015-01-30 17:30:00,2015-01,2015,0.037931
332,355,South Shore Dr & 67th St,Chicago,41.773643,-87.567514,19,2014-01-09,NaN,2014-01-09 15:11:00,2014-01,2014,0.038918
542,583,Stony Island Ave & 82nd St,Chicago,41.746559,-87.586005,11,2016-05-27,NaN,2016-05-27 11:34:00,2016-05,2016,0.039156
537,578,Bennett Ave & 79th St,Chicago,41.751785,-87.578496,11,2016-05-27,NaN,2016-05-27 11:31:00,2016-05,2016,0.039525
8,12,South Shore Dr & 71st St,Chicago,41.766409,-87.565688,15,2013-06-21,NaN,2013-06-21 10:00:00,2013-06,2013,0.042506
361,396,Yates Blvd & 75th St,Chicago,41.758768,-87.566440,11,2015-01-30,NaN,2015-01-30 17:30:00,2015-01,2015,0.044919
547,588,South Chicago Ave & 83rd St,Chicago,41.743921,-87.575225,11,2016-05-27,NaN,2016-05-27 11:38:00,2016-05,2016,0.047565
538,579,Phillips Ave & 79th St,Chicago,41.751820,-87.565211,11,2016-05-27,NaN,2016-05-27 11:32:00,2016-05,2016,0.049636
364,399,South Shore Dr & 74th St,Chicago,41.762189,-87.559275,11,2015-01-30,NaN,2015-01-30 17:31:00,2015-01,2015,0.049983
362,397,Saginaw Ave & Exchange Ave,Chicago,41.758746,-87.560115,11,2015-01-30,NaN,2015-01-30 17:31:00,2015-01,2015,0.050570
541,582,Phillips Ave & 83rd St,Chicago,41.744688,-87.566066,0,2016-05-27,NaN,2016-05-27 11:34:00,2016-05,2016,0.053406
539,580,Exchange Ave & 79th St,Chicago,41.751731,-87.552812,15,2016-05-27,NaN,2016-05-27 11:32:00,2016-05,2016,0.060253
363,398,Rainbow Beach,Chicago,41.757871,-87.549386,15,2015-01-30,NaN,2015-01-30 17:31:00,2015-01,2015,0.060765
540,581,Commercial Ave & 83rd St,Chicago,41.744607,-87.551201,0,2016-05-27,NaN,2016-05-27 11:33:00,2016-05,2016,0.065283

In [5]:
import pandas as pd
from sodapy import Socrata

# Unauthenticated client only works with public data sets. Note 'None'
# in place of application token, and no username or password:
client = Socrata("data.cityofchicago.org", None)

# Example authenticated client (needed for non-public datasets):
# client = Socrata(data.cityofchicago.org,
#                  MyAppToken,
#                  userame="user@example.com",
#                  password="AFakePassword")

# First 2000 results, returned as JSON from API / converted to Python list of
# dictionaries by sodapy.
results = client.get("8mj8-j3c4", limit=2000)

# Convert to pandas DataFrame
df = pd.DataFrame.from_records(results)

WARNING:root:Requests made without an app_token will be subject to strict throttling limits.

In [6]:
df.head()

,ada,blue,brn,direction_id,g,location,map_id,o,p,pexp,pnk,red,station_descriptive_name,station_name,stop_id,stop_name,y
0,True,False,False,W,False,"{'type': 'Point', 'coordinates': [-87.669147, ...",40830,False,False,False,True,False,18th (Pink Line),18th,30162,18th (54th/Cermak-bound),False
1,True,False,False,E,False,"{'type': 'Point', 'coordinates': [-87.669147, ...",40830,False,False,False,True,False,18th (Pink Line),18th,30161,18th (Loop-bound),False
2,True,False,False,N,False,"{'type': 'Point', 'coordinates': [-87.680622, ...",40120,True,False,False,False,False,35th/Archer (Orange Line),35th/Archer,30022,35th/Archer (Loop-bound),False
3,True,False,False,S,False,"{'type': 'Point', 'coordinates': [-87.680622, ...",40120,True,False,False,False,False,35th/Archer (Orange Line),35th/Archer,30023,35th/Archer (Midway-bound),False
4,True,False,False,S,True,"{'type': 'Point', 'coordinates': [-87.625826, ...",41120,False,False,False,False,False,35th-Bronzeville-IIT (Green Line),35th-Bronzeville-IIT,30214,35-Bronzeville-IIT (63rd-bound),False

In [9]:
df.location[0]['coordinates'][0]

-87.669147

In [12]:
df['latitude'] = df.location.map(lambda x: x['coordinates'][1])
df['longitude'] = df.location.map(lambda x: x['coordinates'][0])

In [13]:
df.head()

,ada,blue,brn,direction_id,g,location,map_id,o,p,pexp,pnk,red,station_descriptive_name,station_name,stop_id,stop_name,y,latitude,longitude
0,True,False,False,W,False,"{'type': 'Point', 'coordinates': [-87.669147, ...",40830,False,False,False,True,False,18th (Pink Line),18th,30162,18th (54th/Cermak-bound),False,41.857908,-87.669147
1,True,False,False,E,False,"{'type': 'Point', 'coordinates': [-87.669147, ...",40830,False,False,False,True,False,18th (Pink Line),18th,30161,18th (Loop-bound),False,41.857908,-87.669147
2,True,False,False,N,False,"{'type': 'Point', 'coordinates': [-87.680622, ...",40120,True,False,False,False,False,35th/Archer (Orange Line),35th/Archer,30022,35th/Archer (Loop-bound),False,41.829353,-87.680622
3,True,False,False,S,False,"{'type': 'Point', 'coordinates': [-87.680622, ...",40120,True,False,False,False,False,35th/Archer (Orange Line),35th/Archer,30023,35th/Archer (Midway-bound),False,41.829353,-87.680622
4,True,False,False,S,True,"{'type': 'Point', 'coordinates': [-87.625826, ...",41120,False,False,False,False,False,35th-Bronzeville-IIT (Green Line),35th-Bronzeville-IIT,30214,35-Bronzeville-IIT (63rd-bound),False,41.831677,-87.625826